@use '../../../styles/tokens' as tokens;

.text {
  margin: 0;

  &--body {
    font-family: var(--font-sans);
    font-size: tokens.$font-size-md;
    line-height: tokens.$line-height-relaxed;
    color: var(--color-text);
  }

  &--caption {
    font-family: var(--font-sans);
    font-size: tokens.$font-size-sm;
    line-height: tokens.$line-height-relaxed;
    color: var(--color-text);
    opacity: 0.8;
  }

  &--label {
    font-family: var(--font-mono);
    font-size: tokens.$font-size-sm;
    line-height: tokens.$line-height-normal;
    color: var(--color-text-heading);
    letter-spacing: tokens.$letter-spacing-wide;
    text-transform: uppercase;
  }
}
