@use '../../../styles/tokens' as tokens;

.icon {
  display: inline-block;
  flex-shrink: 0;
  color: currentColor;

  &--sm {
    width: 16px;
    height: 16px;
  }

  &--md {
    width: 20px;
    height: 20px;
  }

  &--lg {
    width: 24px;
    height: 24px;
  }
}
