@use '../../../styles/tokens' as tokens;

.heading {
  font-family: var(--font-heading);
  font-weight: tokens.$font-weight-medium;
  color: var(--color-text-heading);
  margin: 0;

  &--h1 {
    font-size: clamp(tokens.$font-size-2xl, 6vw, tokens.$font-size-3xl);
    letter-spacing: tokens.$letter-spacing-tight;
    line-height: tokens.$line-height-tight;
    margin: tokens.$spacing-2xl 0;
    margin-block: clamp(tokens.$spacing-lg, 4vw, tokens.$spacing-2xl);
  }

  &--h2 {
    font-size: clamp(tokens.$font-size-xl, 3.5vw, tokens.$font-size-2xl);
    line-height: tokens.$line-height-tight;
    letter-spacing: tokens.$letter-spacing-normal;
    margin-bottom: clamp(tokens.$spacing-xs, 2vw, tokens.$spacing-sm);
  }

  &--h3 {
    font-size: tokens.$font-size-lg;
    line-height: tokens.$line-height-normal;
    letter-spacing: tokens.$letter-spacing-normal;
    margin-bottom: tokens.$spacing-xs;
  }

  &--h4 {
    font-size: tokens.$font-size-md;
    line-height: tokens.$line-height-normal;
    letter-spacing: tokens.$letter-spacing-normal;
    margin-bottom: tokens.$spacing-xs;
  }

  &--h5 {
    font-size: tokens.$font-size-sm;
    line-height: tokens.$line-height-normal;
    letter-spacing: tokens.$letter-spacing-normal;
    margin-bottom: tokens.$spacing-xs;
  }

  &--h6 {
    font-size: tokens.$font-size-xs;
    line-height: tokens.$line-height-normal;
    letter-spacing: tokens.$letter-spacing-wide;
    margin-bottom: tokens.$spacing-xs;
    text-transform: uppercase;
  }
}
